<strong>Olá, {{ provider }}</strong>
<p>O agendamento abaixo foi cancelado:</p>
<p>
  <strong>Cliente: </strong> {{ user }}. <br />
  <strong>Data/hora do agendamento:</strong> {{ date }}. <br />
  <br />
  <strong>
    <small>
      O horário está novamente disponível para novos agendamentos.
    </small>
  </strong>
</p>
